:root {
  --white: #ffffff;
  --platinum: #e5e5e5;
  --orange: #fca311;
  --oxford-blue: #14213d;
  --black: #000000;

  --padding: 0.85rem;
  --border-radius: 0.75rem;
  --border-thickness: 0.15rem;
  --flex-gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.flex > * {
  justify-content: space-around;
  flex: 50%;
}

header,
footer {
  height: 10vh;
  background-color: var(--oxford-blue);
  color: white;
  font-weight: bolder;
  text-align: center;
  place-content: center;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  width: 100%;
  margin: auto;
  padding: var(--padding);
  background-color: var(--platinum);
}

.form-container {
  grid-row: 1;
  grid-column: 2 / 5;

  background-color: var(--oxford-blue);
  /* border: var(--border-thickness) solid var(--black); */
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin: 0 auto;
  min-width: 45vw;
  place-content: center;
}

.form-item > * {
  flex: 1%;
  min-height: 5vh;
}

input,
button {
  appearance: none;
  border: 2px solid var(--platinum);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  background-color: var(--white);
}

input:hover,
button:hover {
  color: var(--white);
  background-color: var(--black);
  opacity: 1;
}

input {
  padding-left: 1vw;
  width: 100%;
}

input:focus {
  cursor: auto;
}

button {
  max-width: 5vw;
}

.weather-container-wrapper {
  grid-row: 3 / 6;
  grid-column: 1 / 6;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;

  min-width: 10vw;
  min-height: 20vh;
  max-height: 40vh;

  overflow-y: hidden;
  overflow-y: scroll;
}

.weather-container {
  border: 5px solid var(--oxford-blue);
  border-radius: var(--border-radius);
  padding: 0.2rem;
  background-color: var(--white);
  width: 85%;
  margin: 0 auto;
}

.weather-item {
  padding: 1rem;
  min-height: min-content;
  height: 40vh;
}

.weather-item-header {
  display: flex;
  gap: var(--flex-gap);
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-thickness) solid var(--black);
}

.weather-item-body {
  display: flex;
  flex-direction: row;
  flex: 33%;
  padding: var(--padding);
  height: 90%;
  gap: var(--flex-gap);
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.weather-item-body > * {
  padding: var(--padding);
}

.weather-item-body .forecast-item:first-child {
  margin-left: auto;
}

.weather-item-body .forecast-item:last-child {
  margin-right: auto;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border-left: 10px solid var(--orange);
  border-top: 10px solid var(--orange);
  border-right: 10px solid var(--oxford-blue);
  border-bottom: 10px solid var(--oxford-blue);
  min-width: 15vw;
  width: 18vw;
  max-width: 20vw;
  height: 25vh;
}

.forecast-item-body {
  flex-direction: column;
  justify-content: space-between;
}

.forecast-item-body > * {
  flex: 33%;
}

/* ANIMATIONS */
@keyframes pulse {
  0% {
    background-color: var(--oxford-blue);
  }
  25% {
    background-color: var(--orange);
  }
  50% {
    background-color: var(--black);
  }
  75% {
    background-color: var(--orange);
  }
  100% {
    background-color: var(--oxford-blue);
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  border: 2px solid var(--black);
  border-radius: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px grey;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--oxford-blue);
  cursor: pointer;
}
