:root {
  /* Main colours */
  --paynes-gray: #4e5d6b;
  --charcoal: #333b46;
  --ship-gray: #617382;
  --rasin-black: #191b21;
  --black: #000000;
  --alabaster: #edeade;
  --powder: #fbfcfa;

  /* Grid / water colours */
  --picton-blue: #00a6fb;
  --steel-blue: #0582ca;
  --lapis-lazuli: #006494;
  --prussian-blue: #003554;
  --rich-black: #051923;

  --border-radius: 1rem;
  --universal-padding: 1rem;
  --small-padding: 0.5rem;
  --x-small-padding: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 25px;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 25px;

  background-color: var(--charcoal);
}

.info-container {
  grid-row: 2 / 6;
  grid-column: 7 / 9;
  box-shadow: 0 5px 5px 7.5px var(--rasin-black);
  background-color: var(--alabaster);

  display: flex;
  flex-direction: column;
  padding: var(--universal-padding);
  gap: 20px;
  opacity: 0.5;
  border-radius: var(--border-radius);
  transition: 0.5s linear;
}

.info-container:hover {
  opacity: 1;
}

.combat-log-container {
  max-height: 440px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  padding: var(--x-small-padding);
}

.combat-log-item {
  flex: 0 0 100px;
  padding: var(--universal-padding);
  border-bottom: 2px dotted var(--paynes-gray);
  transition: transform 0.5s ease, opacity 0.5s ease;
  scroll-snap-align: center;
  /* transform: scale(0.9); */
}

.combat-log-item:hover {
  transform: scale(1.1);
  color: var(--paynes-gray);
}


.active-player {
  width: auto;
  text-align: center;
  margin-top: auto;
  /* border: 2px solid black; */
}

ul {
  list-style-type: none;
}

.ship-container {
  width: auto;
  height: 200px;
  border: 2px solid black;
}

.container {
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 5px 7.5px var(--rasin-black);
  background-color: var(--alabaster);
  width: 160%;
  height: 100%;
  padding: var(--universal-padding);
  transition: 1s ease-in-out;
  flex-direction: column;
  z-index: 1;
}

.board-container {
  height: 80%;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 50%;
  height: 100%;
  background-color: var(--lapis-lazuli);
  box-shadow: 0 7.5px 10px 0 var(--black);
}

.grid-box {
  border: 1px solid var(--black);
  width: 100%;
  height: 100%;
  background-color: var(--picton-blue);
}

.grid-box:hover {
  background-color: var(--prussian-blue) !important;
  cursor: pointer;
}

.settings-container {
  padding: var(--small-padding);
}

.player_names {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
}

.player_names > label {
  flex: 33%;
}

input,
button,
select {
  /* height: 25px; */
  width: 50%;
  border: 2px solid var(--charcoal);
  padding: 0.2rem;
  transition: 0.2s linear;
  appearance: none;
}

input:hover,
button:hover,
select:hover {
  border-color: var(--picton-blue);
  border-radius: var(--small-padding);
  cursor: pointer;
}

#restart-game {
  display: none;
}

.active {
  opacity: 1;
}

.active > .ship {
  background-color: var(--picton-blue);
}

.inactive {
  pointer-events: none;
  background-color: var(--charcoal);
}

.board.inactive {
  display: none;
  opacity: 0.8;
  background-color: var(--black);
}

.ship {
  /* border: 2px solid black; */
  background-color: var(--paynes-gray);
  /* border-radius: var(--x-small-padding); */
}

.hit {
  background-color: darkred;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hit::after {
  content: "Y";
}

.miss {
  height: auto;
  width: auto;
  background-color: var(--rasin-black);
  position: relative;
}

.miss::after {
  content: "\274c";
}

.hit::after,
.miss::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  width: fit-content;
  height: fit-content;
  font-size: 28px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

header,
footer {
  position: relative;
  background-color: var(--rasin-black);
  width: 100%;
  height: 75px;
}

/* Plot Ships Modal */
.plot-ships {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.ship-container {
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  padding: var(--universal-padding);
  background-color: var(--alabaster);
}

.ship-container-header {
  flex-grow: 1;
  justify-content: space-between;
  height: min-content;
}

span.close {
  font-size: 32px;
  border-bottom: 2px solid var(--charcoal);
  transition: 0.2s linear;
}

span.close:hover {
  cursor: pointer;
  color: red;
}

form {
  padding: var(--universal-padding);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: 5px;
  gap: 25px;
}

form > * {
  padding: var(--universal-padding);
}

.ship-input {
  flex-wrap: wrap;
  padding: var(--universal-padding);

  border: 2px solid var(--black);
  border-radius: 0.5rem;

  border-bottom: 2px solid var(--black);
  background-color: var(--ship-gray);
  margin: 1rem;
}

.coordinate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: lightgray;
  border: 1px solid black;
  width: 100%;
}

input:valid {
  background-color: green;
}

.flex-child {
  display: flex;
  justify-content: space-around;
  padding: var(--universal-padding);
  width: 100%;
}

.flex-child > * {
  width: 100%;
}
