:root {
  /* Main colours */
  --paynes-gray: #4e5d6b;
  --charcoal: #333b46;
  --ship-gray: #617382;
  --rasin-black: #191b21;
  --black: #000000;
  --alabaster: #edeade;

  /* Grid / water colours */
  --picton-blue: #00a6fb;
  --steel-blue: #0582ca;
  --lapis-lazuli: #006494;
  --prussian-blue: #003554;
  --rich-black: #051923;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 25px;

  background-color: var(--charcoal);
}

.info-container {
  grid-row: 2 / 6;
  grid-column: 7 / 9;
  box-shadow: 0 5px 5px 7.5px var(--rasin-black);
  background-color: var(--alabaster);

  display: flex;
  flex-direction: column;
  padding: 1rem;  
  gap: 20px;
}

.info-container > * {
  flex: 33%;
}


.combat-log-container {
  /* width: 90%; */
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.active-player {
  /* justify-self: flex-end; */
  width: auto;
  border: 2px solid black;
}

ul {
  list-style-type: none;
}

.combat-log-container li {
  border-bottom: 2px dotted var(--paynes-gray);
  padding: 0.5rem;
}

li:hover {
  transform: scale(1.1);
}

.ship-container {
  width: auto;
  height: 200px;
  border: 2px solid black;
}

.container {
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  border-radius: 1rem;
  box-shadow: 0 5px 5px 7.5px var(--rasin-black);
  background-color: var(--alabaster);
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.board-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 85%;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 50%;
  height: 100%;
  background-color: var(--lapis-lazuli);
  box-shadow: 0 7.5px 10px 0 var(--black);
}

.coordinate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: lightgray;
  border: 1px solid black;
  width: 100%;
}

.grid-box {
  border: 1px solid var(--black);
  width: 100%;
  height: 100%;
  background-color: var(--picton-blue);
}

.grid-box:hover {
  background-color: var(--prussian-blue) !important;
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.2rem;
}

.active {
  opacity: 1;
}

.active > .ship {
  background-color: var(--picton-blue);
}

.inactive {
  pointer-events: none;
  background-color: var(--charcoal);
}

.board.inactive {
  /* display: none; */
  opacity: 0.8;
  background-color: var(--black);
  /* width: 100%; */
}

.ship {
  background-color: var(--charcoal);
  /* border-radius: 0.25rem; */
  /* box-shadow: 0 5px 10px 0 var(--black); */
}

/* .horizontal {
  width: 50%;
  margin: 0 auto;
}

.vertical {
  height: 50%;
  margin: auto 0;
} */

.hit {
  background-color: darkred;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hit::after {
  content: "Y";
}

.miss {
  height: auto;
  width: auto;
  background-color: var(--rasin-black);
  position: relative;
}

.miss::after {
  content: "\274c";
}

.hit::after,
.miss::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  width: fit-content;
  height: fit-content;
  font-size: 28px;
  justify-self: center;
  align-self: center;
  /* color: #720c0c; */
  text-align: center;
}

/* .ship:hover {
  transform: scale(1.1);
  background-color: var(--charcoal);
} */

header,
footer {
  position: relative;
  background-color: var(--rasin-black);
  width: 100%;
  height: 75px;
}
