:root {
  /* Main colours */
  --paynes-gray: #4e5d6b;
  --charcoal: #333b46;
  --ship-gray: #617382;
  --rasin-black: #191b21;
  --black: #000000;
  --alabaster: #edeade;

  /* Grid / water colours */
  --picton-blue: #00a6fb;
  --steel-blue: #0582ca;
  --lapis-lazuli: #006494;
  --prussian-blue: #003554;
  --rich-black: #051923;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--charcoal);
}

.container {
  grid-row: 2 / 6;
  grid-column: 2 / 4;
  border: 2px solid black;
  background-color: var(--alabaster);
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container2 {
  grid-row: 2 / 6;
  grid-column: 4 / 6;
  border: 2px solid black;
  background-color: var(--alabaster);
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* width: 100%; */
  height: 100%;
  background-color: var(--lapis-lazuli);
}

.grid-box {
  border: 1px solid var(--black);
  width: 100%;
  height: 100%;
  background-color: var(--picton-blue);
}

.grid-box:hover {
  background-color: var(--prussian-blue);
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.ship {
  background-color: var(--charcoal);
  /* border: 2px dotted black; */
  border-radius: 0.25rem;
  /* box-shadow: 0 5px 10px 0 var(--black); */
  /* width: 50%; */
  /* margin: 0 auto; */
}

.hit {
  background-color: red;
  /* width: 50%;
  margin: 0 auto; */
}

.miss {
  height: auto;
  width: auto;
  background-color: var(--rasin-black);
  position: relative;
}

.miss::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  width: fit-content;
  height: fit-content;
  font-size: 32px;
  justify-self: center;
  align-self: center;
  color: #fff;
  text-align: center;
}

.ship:hover {
  transform: scale(1.1);
  background-color: var(--charcoal);
}

header,
footer {
  position: relative;
  background-color: var(--rasin-black);
  width: 100%;
  height: 10px;
}
